#map {
    height: calc(100vh - 70px);
    /* Restar altura aproximada del navbar */
    width: 100%;
}

.info-window {
    font-family: "Segoe UI", Arial, sans-serif;
    max-width: 200px;
}

.info-window h3 {
    margin-top: 0;
    font-size: 16px;
    color: #27ae60;
}

.info-window p {
    font-size: 13px;
    margin: 5px 0;
}