html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.contenedor {
    max-width: 800px;
    margin: 20px auto;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(100px);
    position: relative;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 2;
}

.titulo-h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    font-size: 2rem;
    font-weight: bold;
}


.img-global{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-image: url(/img/fire-fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo-h1-part2 {
    text-shadow: 0 0 10px rgb(0, 128, 0);
    color: rgb(0, 128, 0);
}

h3 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.titulo-principal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.subtitulo-h2 {
    color: rgb(160, 65, 28);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.lista-para-que{
    gap: 23px;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    padding: 0px 20px;
}
.footer-content{
    display: flex;
    height: 100%;
}
button {
    background-color: orange;
}
.footer-left{
    height: 100%;
    display: flex;
    align-items: center;
    a{
        border-right: 1px solid rgb(255, 255, 255);
        padding-right: 20px;
    }
}
.footer-rigth{
    height: 100%;
    display: flex;
    align-items: center;
    
    ol{
        list-style: none;
    }
    a{
        padding-left: 20px;
        
    }
}
.rigth-ol{
    display: flex;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
.derechos{
    text-align: center;
    padding-top: 40px;
    font-size: 0.7rem;
}

.section-grid-img{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 20px ;
}
.section-grid-img > img{
    width: 100%;
    border-radius: 20px;
}








h1 {
    text-align: center;
    color: orange;
}

.crud-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
    gap: 30px; /* Espacio entre los elementos del formulario */
    justify-content: center;
}

.crud-form input[type="text"],
.crud-form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px; /* Ancho fijo para los inputs y select */
    box-sizing: border-box; /* Incluye padding y border en el width */
}

.crud-form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.section-grud{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.crud-form button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    color: black;
}

table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.acciones button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.acciones .edit-btn {
    background-color: #ffc107;
    color: white;
}

.acciones .edit-btn:hover {
    background-color: #e0a800;
}

.acciones .delete-btn {
    background-color: #dc3545;
    color: white;
}

.acciones .delete-btn:hover {
    background-color: #c82333;
}

/* Responsivo básico *