html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

.contenedor {
    max-width: 800px;
    padding: 0px 20px;
    margin: 20px auto;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(100px);
    position: relative;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 2;
}

.titulo-h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
.img-global{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-image: url(/img/fire-fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;

}
.titulo-h1-part2 {
    text-shadow: 0 0 10px rgb(0, 128, 0);
    color: rgb(0, 128, 0);
}
h3 {
    color: rgb(214, 187, 34);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.titulo-principal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.subtitulo-h2 {
    color: rgb(160, 65, 28);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.lista-para-que{
    gap: 23px;
    display: flex;
    flex-direction: column;
}

.imagen-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
    img{
        width: calc(100% - 10px);
        border-radius: 30px;
        border: 5px solid white;
    }
    h3{
        text-align: center;
    }
}

footer {
    display: flex;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

button {
    background-color: orange;
}

a {
    padding: 20px;
    text-decoration: none;
    color: white;
}
